<%

const day_conversion = {
	"dzien_monday": "Poniedziałek",
	"dzien_tuesday": "Wtorek",
	"dzien_wednesday": "Środa",
	"dzien_thursday": "Czwartek",
	"dzien_friday": "Piątek",
	"dzien_saturday": "Sobota",
	"dzien_sunday": "Niedziela"
};

function GetJSDateFromDogDate(data, godzina) {
	Segmenty = data.split('.');
	start = godzina.split(':');
	let hour = "0";
	if(start.length > 1)
		hour = start[1];
	
	return new Date(Segmenty[2], Segmenty[1] - 1, Segmenty[0], start[0], hour, 0);
}

function TestReservationHour(params,Reservation, Start, GEnd) {
	let date_start_input = params.get("date_start_input");
	if(date_start_input==null)
		date_start_input = (new Date()).getDate() + "." + ((new Date()).getMonth() + 1) + "." + ((new Date()).getYear() + 1900);
		
	let date_end_input = params.get("date_end_input");
	if(date_end_input==null) {
		DateIn2Weeks = new Date();
		DateIn2Weeks.setDate(DateIn2Weeks.getDate() +1000);
		date_end_input = DateIn2Weeks.getDate() + "." + (DateIn2Weeks.getMonth() + 1) + "." + (DateIn2Weeks.getYear() + 1900);
	}
	
	let Data1 = GetJSDateFromDogDate(date_start_input, Start);
	let Data2 = GetJSDateFromDogDate(date_end_input, GEnd);
	
	let DataStartu = GetJSDateFromDogDate(Reservation.date, Reservation.start);
	let DataKonca = GetJSDateFromDogDate(Reservation.date, Reservation.end);
	
	if(DataStartu.getTime()>=Data1.getTime() && DataKonca.getTime()<= Data2.getTime()){
		return true;
	}	
	return false;
}

function FilterReservation(params, test) {
	//czy ta rejestracja nie jest zajeta
	if(test.hasOwnProperty("takenby"))
		return true;

	//czy ta rejestracja miesci sie w przedziale godzinnym
	let godz_start = "";
	if(params.get("godz_start_input") == null ||params.get("godz_start_input") == "")
		godz_start = "0";
	else
		godz_start = params.get("godz_start_input");
		
	let godz_end = "";
	if(params.get("godz_end_input") == null||params.get("godz_end_input") == "")
		godz_end = "24";
	else
		godz_end = params.get("godz_end_input");
		
	if(!TestReservationHour(params,test, godz_start, godz_end))
		return true;
	
	
	//filtr dnia
	if(params.get("dzien_input") != "dzien_any"&& params.get("dzien_input") != null)
		if(test.day!=day_conversion[params.get("dzien_input")])
			return true;
	
	return false;
}

function FilterDog(params, id) {
	dog = dogs[id];
	
	//czy ten pies spelnia podstawowe filtry
	if(params.get("imie_input") != null && !dog.name.includes(params.get("imie_input")))
		return true;
	if(params.get("wiek_input") != null && !dog.age.includes(params.get("wiek_input")))
		return true;
	
	//czy ten pies ma jakies rezerwacje
	if(!reservations.hasOwnProperty(id)||!reservations[id].some(function(ReservationId) {
		return true;
	})) return true;
	
	//czy ten pies ma jakies rezerwacje ktore filtracja przyjmuje
	if(!(reservations[id].some(function(reservationID) {
		if(!(FilterReservation(params, reservationID)))
			return true;
	}))) return true;
		
	
	return false;
}
%>



<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Strona schroniska</title>
        <link rel="icon" href="images/dog-icon.png" type="image/x-icon">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>


    <body>
        <!-- header with logo + menu -->
        <div class="header">
            <ul class="nav-bar">  
                <li class="nav-dog-title"> 
                    <a href="/home"><img class="dog-icon"src="images/dog-icon.png" alt="Zdjecie pieska"></a>
                    <a href="/home" class="nav-title">Super </br> schronisko w </br> jakimś mieście</a>
                </li>
                <li class="nav-button"><a href="/home">Aktualności</a></li>
                <li class="nav-button"><a href="/reserveWalk">Zarezerwuj spacer</a></li>
                <li class="nav-button"><a href="/ourDogs">Nasze pieski</a></li>
                <li class="nav-button"><a href="/supportUs">Wesprzyj nas</a></li>
                <li class="nav-button"><a href="/contact">Kontakt</a></li>
                <li class="nav-login-button">
				<% if(user){ %>
					<button class="login-button" onclick="window.location.href='/user/myWalks';">
						<a class="login-label" > <%= user.name %></a>
						<img class="user-icon"src="images/user-icon.png" alt="Logo uzytkownika" >
					</button>
				<% } else{ %>  
					<button class="login-button" onclick="window.location.href='/login';">
						<a class="login-label" >Zaloguj się</a>
						<img class="user-icon"src="images/user-icon.png" alt="Logo uzytkownika" >
					</button>
				<% } %>
            </li>
            </ul>
        </div>


        <!-- main site -->
        <div class="main">
			<form>
				<div class="spacer_filter">
					<form>
						<img class="filter_icon" src="images/filter.png" alt="Filtr" >
						<input class="filter_hide" name="filter" id="filter">
						<div class="imie_box">
							<label for="imie_input">Imię Psa:</label>
							<input type="text" id="imie_input" name="imie_input">
						</div>
						<div class="wiek_box">
							<label for="wiek_input">Wiek:</label>
							<input type="text" id="wiek_input" name="wiek_input">
						</div>
						<div class="dzien_box">
							<label for="dzien_input">Dzień:</label>
							<select id="dzien_input" name="dzien_input">
								<option value="dzien_any">Jakikolwiek</option>
								<option value="dzien_monday">Poniedziałek</option>
								<option value="dzien_tuesday">Wtorek</option>
								<option value="dzien_wednesday">Środa</option>
								<option value="dzien_thursday">Czwartek</option>
								<option value="dzien_friday">Piątek</option>
								<option value="dzien_saturday">Sobota</option>
								<option value="dzien_sunday">Niedziela</option>
							</select>
						</div>
						<div class="godz_box">
							<label for="date_start_input">Od dnia:</label>
							<input type="text" id="date_start_input" name="date_start_input" value = "<%=new Date().getDate()%>.<%=new Date().getMonth()+1%>.<%=new Date().getYear()+1900%>">
						</div>
						<div class="godz_box">
							<label for="godz_start_input">Od godz:</label>
							<select type="text" id="godz_start_input" name="godz_start_input">
								<option value="00:00" selected="selected">00:00</option>
								<option value="01:00">01:00</option>
								<option value="02:00">02:00</option>
								<option value="03:00">03:00</option>
								<option value="04:00">04:00</option>
								<option value="05:00">05:00</option>
								<option value="06:00">06:00</option>
								<option value="07:00">07:00</option>
								<option value="08:00">08:00</option>
								<option value="09:00">09:00</option>
								<option value="10:00">10:00</option>
								<option value="11:00">11:00</option>
								<option value="12:00">12:00</option>
								<option value="13:00">13:00</option>
								<option value="14:00">14:00</option>
								<option value="15:00">15:00</option>
								<option value="16:00">16:00</option>
								<option value="17:00">17:00</option>
								<option value="18:00">18:00</option>
								<option value="19:00">19:00</option>
								<option value="20:00">20:00</option>
								<option value="21:00">21:00</option>
								<option value="22:00">22:00</option>
								<option value="23:00">23:00</option>
								<option value="24:00">24:00</option>
							</select>
						</div>
						<div class="godz_box">
							<% 	DateIn2Weeks = new Date();
								DateIn2Weeks.setDate(DateIn2Weeks.getDate() +1000); %>
							<label for="date_end_input">Do dnia:</label> 
							<input type="text" id="date_end_input" name="date_end_input" value = "<%=DateIn2Weeks.getDate()%>.<%=DateIn2Weeks.getMonth()+1%>.<%=DateIn2Weeks.getYear()+1900%>">
						</div>
						<div class="godz_box">
							<label for="godz_end_input">Do godz:</label>
							<select type="text" id="godz_end_input" name="godz_end_input" selected="24:00">
								<option value="00:00">00:00</option>
								<option value="01:00">01:00</option>
								<option value="02:00">02:00</option>
								<option value="03:00">03:00</option>
								<option value="04:00">04:00</option>
								<option value="05:00">05:00</option>
								<option value="06:00">06:00</option>
								<option value="07:00">07:00</option>
								<option value="08:00">08:00</option>
								<option value="09:00">09:00</option>
								<option value="10:00">10:00</option>
								<option value="11:00">11:00</option>
								<option value="12:00">12:00</option>
								<option value="13:00">13:00</option>
								<option value="14:00">14:00</option>
								<option value="15:00">15:00</option>
								<option value="16:00">16:00</option>
								<option value="17:00">17:00</option>
								<option value="18:00">18:00</option>
								<option value="19:00">19:00</option>
								<option value="20:00">20:00</option>
								<option value="21:00">21:00</option>
								<option value="22:00">22:00</option>
								<option value="23:00">23:00</option>
								<option value="24:00" selected="selected">24:00</option>
							</select>
						</div>
						<div class="zatwierdz_box">
							<button>Zatwierdź:</label>
							<img class="enter_icon" src="images/enter.png" alt="Zatwierdz" >
						</div>
					</form>
				</div>
			</form>
			<div class="spacer_box">
				<nav>
					<ul class="spacer_list_class">
						<% 
						Object.keys(dogs).forEach(function(id) { 
							let params = new URLSearchParams(url);
							
							if(FilterDog(params, id))
								return;
						%>
						<li class="spacer_list_class">
							<div class="doggo_and_gap">
								<div class="just_doggo">
									<div class="doggo">
										<img class="doggo_icon" src="<%= dogs[id].image %>" alt="doggo" >
									</div>
									<div class="doggo_info">
										<div class="doggo_name">
											<label class="doggo_label" style="font-size:55px"><%= dogs[id].name %></label>
										</div>
										<div class="doggo_info_text">
											<p>Wiek: <%= dogs[id].age %> Lat</p>
											<p><%= dogs[id].desc %></p>
										</div>
									</div>
									<div class="doggo_calendar_box">
										<div class="doggo_calendar">
											<div class="doggo_choose_termin">Najbliższe Terminy:</div>
											<div class="doggo_calendar-copy">
											<%
												Object.keys(reservations[id]).forEach(function(ReservationId) {
													let test = reservations[id][ReservationId];
													test["id"] = ReservationId;
												});
												
												reservations[id].sort(function(a,b) {
													let DataStartu = GetJSDateFromDogDate(a.date, a.start);
													let DataKonca = GetJSDateFromDogDate(b.date, b.start);
													return DataStartu.getTime() - DataKonca.getTime();
												});
												
												let i = -1;
												Object.keys(reservations[id]).forEach(function(ReservationId) {
													let test = reservations[id][ReservationId];
													i = i+1;
													
													if(FilterReservation(params, test))
														return;
											%>
											<% if (user) { %>
												<div class="doggo_termin"><a href= <%= "/walk?param=yes" + "&dog="  + id + "&id=" + test.id %>>
											<% } else { %>
												<div class="doggo_termin"><a href="#" onclick='showConfirmationPopup("<%= id %>", "<%= test.id %>")'>
											<% } %>
												<%= test.date + " " + test.day + " " + test.start + " - " + test.end%>
												</a></div>
												
											<% });
												Object.keys(reservations[id]).forEach(function(ReservationId) {
													let test = reservations[id][ReservationId];
													delete test.id;
												});
											%>
											</div>
										</div>
									</div>
								</div>
								<div class="gap"></div>
							</div>
						</li>
						<% }); %> 
					</ul>
				</nav>
			</div>
        </div>


        <!-- footer -->
        <div class="footer">
            <div class="creator">©2023 Created by <span>Grupa G</span> | All rights reserved</div>
        </div>

		<div id="custom-modal" class="modal">
			<div class="modal-content">
				<p>Czy chcesz kontynuować bez logowania, czy zalogować się?</p>
				<button onclick="proceed()">Kontynuuj</button>
				<button onclick="login()">Zaloguj się</button>
				<button onclick="goBack()">Powrót</button>
			</div>
		</div>

		<script>
			function showConfirmationPopup(id, ReservationId) {
				var modal = document.getElementById("custom-modal");
				modal.style.display = "block";
				modal.dataset.dog = id;
				modal.dataset.id = ReservationId;
			}

			function proceed() {
				var modal = document.getElementById("custom-modal");
				window.location.href = `/walk?param=yes&dog=${modal.dataset.dog}&id=${modal.dataset.id}`;
			}

			function login() {
				var modal = document.getElementById("custom-modal");
				window.location.href = `/login?dog=${modal.dataset.dog}&id=${modal.dataset.id}`;
			}

			function goBack() {
				var modal = document.getElementById("custom-modal");
				modal.style.display = "none";
			}
		</script>
    </body>
</html>