<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Strona schroniska</title>
        <link rel="icon" href="images/dog-icon.png" type="image/x-icon">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>


    <body>
        <!-- header with logo + menu -->
        <div class="header">
            <ul class="nav-bar">  
                <li class="nav-dog-title"> 
                    <a href="/home"><img class="dog-icon"src="images/dog-icon.png" alt="Zdjecie pieska"></a>
                    <a href="/home" class="nav-title">Super </br> schronisko w </br> jakimś mieście</a>
                </li>
                <li class="nav-button"><a href="/home">Aktualności</a></li>
                <li class="nav-button"><a href="/reserveWalk">Zarezerwuj spacer</a></li>
                <li class="nav-button"><a href="/ourDogs">Nasze pieski</a></li>
                <li class="nav-button"><a href="/supportUs">Wesprzyj nas</a></li>
                <li class="nav-button"><a href="/contact">Kontakt</a></li>
                <li class="nav-login-button">
				<% if(user){ %>
					<button class="login-button" onclick="window.location.href='/user/myWalks';">
						<a class="login-label" > <%= user.name %></a>
						<img class="user-icon"src="images/user-icon.png" alt="Logo uzytkownika" >
					</button>
				<% } else{ %>  
					<button class="login-button" onclick="window.location.href='/login';">
						<a class="login-label" >Zaloguj się</a>
						<img class="user-icon"src="images/user-icon.png" alt="Logo uzytkownika" >
					</button>
				<% } %>
            </li>
            </ul>
        </div>
		<% 
			let params = new URLSearchParams(url);
		%>
		<div class="main_rezerwacja">
			<div class="rezerwacja_withpadding">
				<div class="rezerwacja_doggo_info">
					<div class="rezerwacja_doggo_label2">Chcesz wyprowadzić...</div>
					<img class="doggo_icon" src="images/dog-icon.png" alt="doggo" >
					<div class="rezerwacja_doggo_name"><%= dogs[params.get("dog")].name%></div>
					<div class="rezerwacja_doggo_attributes">
						<p>Wiek: <%= dogs[params.get("dog")].age%> lat</p>
						<p>Atrybut 2: Ipsum</p>
						<p>Atrybut 3: Dolor</p>
						<p><%= dogs[params.get("dog")].desc%></p>
					</div>
				</div> 
				<div class="rezerwacja_info_box">
					<div class="rezerwacja_middle">
						<div class="rezerwacja_doggo_label">
							<% let res = reservations[params.get("dog")][params.get("id")] %>
							<label class="rezerwacja_doggo_label_text"><br/>Wybrany Termin Spaceru:<br /><br/><%= res.date + " " + res.start + " - " + res.end%></label>
						</div>
						<div class="info_grid_box">
							<div class="rigb_imie">
								<label for="imie_input_rezerwacja">Twoje imię:</label><br />
								<input class="input_walk" type="text" id="imie_input_rezerwacja" name="imie_input_rezerwacja">
							</div>
							<div class="rigb_naziwsko">
								<label for="nazwisko_input_rezerwacja">Twoje nazwisko:</label><br />
								<input class="input_walk" type="text" id="nazwisko_input_rezerwacja" name="nazwisko_input_rezerwacja">
							</div>
							<div class="rigb_telefon">
								<label for="telefon_input_rezerwacja">Numer telefonu:</label><br />
								<input class="input_walk" type="tel" id="telefon_input_rezerwacja" name="telefon_input_rezerwacja" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">       
							</div>
							<div class="rigb_email">
								<label for="email_input_rezerwacja">Twój e-mail:</label><br />
								<input class="input_walk" type="email" id="email_input_rezerwacja" name="email_input_rezerwacja">
							</div>
						</div>
					</div>
					<div class="rezerwacja_potwierdz_wide">
						<div class="rezerwacja_potwierdz">
							<button class="rezerwacja_potwierdz-button" onclick="OnZatwierdzClick()">
							<a class="rezerwacja_potwierdz-label"  >Zatwierdź</a>
							</button>
						</div>
						<a class="rezerwacja_missing_info" id="rezerwacja_missing_info"></a>
					</div>
				</div> 
			</div>
		</div>
		
		 <!-- footer -->
        <div class="footer">
            <div class="creator">©2023 Created by <span>Grupa G</span> | All rights reserved</div>
        </div>
		
		
		<script>
			function OnZatwierdzClick() {
				if(
					document.getElementById("imie_input_rezerwacja").value==""||
					document.getElementById("nazwisko_input_rezerwacja").value==""||
					(
						document.getElementById("telefon_input_rezerwacja").value==""&&
						document.getElementById("email_input_rezerwacja").value==""
					)
				)
				{
					var Tekst = new String("Brakuje informacji: \n");
					if(document.getElementById("imie_input_rezerwacja").value=="")
						Tekst = Tekst.concat("Brak imienia.\n");
					if(document.getElementById("nazwisko_input_rezerwacja").value=="")
						Tekst = Tekst.concat("Brak nazwiska.\n");
					if(document.getElementById("telefon_input_rezerwacja").value==""&&
						document.getElementById("email_input_rezerwacja").value=="")
						Tekst = Tekst.concat("Brak numeru telefonu lub e-maila.\n");
					
					
					document.getElementById("rezerwacja_missing_info").innerHTML = Tekst;
				}
				else
				{
					const params = new URLSearchParams(document.location.href);
					document.location.href = "/success" + "?filter=yes" + "&dog=" + params.get("dog") + "&id=" + params.get("id");
				}
			}
		</script>
    </body>
</html>